gtk-color-scheme = "background: #FFFFFF"
gtk-color-scheme = "foreground: #202020"
gtk-color-scheme = "color0: #FFFFFF"
gtk-color-scheme = "color1: #E0E0E0"
gtk-color-scheme = "color2: #D0D0D0"
gtk-color-scheme = "color3: #B0B0B0"
gtk-color-scheme = "color4: #000000"
gtk-color-scheme = "color5: #101010"
gtk-color-scheme = "color6: #151515"
gtk-color-scheme = "color7: #202020"
gtk-color-scheme = "color8: #FF0086"
gtk-color-scheme = "color9: #FD8900"
gtk-color-scheme = "color10: #ABA800"
gtk-color-scheme = "color11: #00C918"
gtk-color-scheme = "color12: #1FAAAA"
gtk-color-scheme = "color13: #3777E6"
gtk-color-scheme = "color14: #AD00A1"
gtk-color-scheme = "color15: #CC6633"
